html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    width: 50%;
    margin: 100px auto;
    font-size: 1.5rem;
    text-align: center;
}

/* Navbar */


.collapse {
    display: flex;
    justify-content: flex-end;
    }

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

.mini {
    width: 20%;
}

.navbar-brand{
    width: 70%;
}



/* imagen fondo */
.img-fondo {
    padding-top: 56px;
    width: 100%;
    height: auto;
}

/* presentacion */
.presentacion {
    text-align: center;
}

/* Cómo trabajamos */

#como-trabajamos {
    padding-bottom: 80px;
}

.diagrama {
    background-color: darkgrey;
    justify-content: center;
    padding-bottom: 100px;
}

.celdas-diagrama {
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    width: 45vh;
}

.celdas-img {
    height: 40%;
    margin-right: 20px;
}

.celdas-p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

#como-trabajamos {
    text-align: center;
    margin-bottom: 0;
} 

/* como trabajamos 2 */

#como-trabajamos2 {
    margin-bottom: 4%;
}

.nuevo {
    width: 25%;
    height: auto;
    border-radius: 5%;
}

.trabajamos-2 {
    background-color: lightgrey;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.etapas {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cont {
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Modelado y renderizado */

#modelado {
    margin-bottom: 0;
}

/* Carousel */

.renderizado {
    width: 70%;
    margin: auto;
    padding-bottom: 0;
}

.pie-foto {
    margin: 0 auto;
}

.d-block {
    border-radius: 1vh;
}

/* Footer */
.bottom-container {
    background-color: darkgrey;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.footer-link {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.2rem;
}

