html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    width: 50%;
    margin: 100px auto;
    font-size: 1.1rem;
    text-align: center;
}

/* Navbar */

.collapse {
    display: flex;
    justify-content: flex-end;
    }

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

.mini {
    width: 20%;
}

.navbar-brand{
    width: 70%;
}



/* imagen fondo */
.img-fondo {
    width: 100%;
    height: auto;
    
}

/* presentacion */
.presentacion {
    text-align: center;
}

/* Cómo trabajamos */

.titulo-como-trabajamos {
    background-color: darkgrey;
    display: flex;
    
    justify-content: center; 
}

.diagrama {
    background-color: darkgrey;
    justify-content: center;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
}

.celdas-diagrama {
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    width: 50vh;
}

.celdas-img {
    height: 20%;
}

.celdas-p {
    margin-left: 0;
    margin-right: 0;
}

#como-trabajamos {
    text-align: center;
    margin-bottom: 0;
} 


/* diagrama */
/* .como-trabajamos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". ch ."
    "ge me bo"
    ". de .";    
    background-color: darkgrey;
    padding: 0 5vh 10vh 5vh;
}

.charla {
    grid-area: ch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bocetado {
    grid-area: bo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desarrollo {
    grid-area: de;
    display: flex;
    align-items: center;
    justify-content: center;
}

.generacion {
    grid-area: ge;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.medio {
    grid-area: me;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eme {
    width: 15%;
}

.ico-trabajamos {
    width: 7vh
} */

/* modelado y renderizado */




/* Carousel modelado */

.renderizado {
    width: 80%;
    margin: auto;
    padding-bottom: 10%;
}

.pie-foto {
    margin: 0 auto;
}

.d-block {
    border-radius: 1vh;
}